body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* .layer {
  background: transparent;
  position: absolute;
  top: 0;
  transform: 0.5s;
}
.layer:hover {
  background: rgba(226, 0, 0, 0.5);
} */